# Preserve line endings for text files, and mark binaries explicitly
* text=auto

# Denote all files that are truly binary and should not be modified
*.jar binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.keystore binary
*.jks binary
